[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ollama = "*"
chromadb = "*"
google-generativeai = "*"
tqdm = "*"
google = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
